footer{
    text-align: center;
    color: gray;
    font-size: 0.8em;
}

footer hr{
    margin: 0 auto;
    width: 90%;
    border: 0;
    height: 1px;
    background: lightgray;
}

footer p{
    margin: 10px;
}