header {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #111111;
    top: 0px;
    z-index: 100;
}

header a{
    line-height: 60px;
    font-size: 1.1em;
    color:  #d5d5d5;
    text-decoration: none;
    cursor: pointer;
}

header a:hover {
    color: white;

    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.logo {
    float: left;
    height: 100%;
}

.logo a{
    font-size: 1.8em;
    margin: 0 40px 0 20px;
}

.top-menu {
    float: left;
    height: 100%;
}
.top-menu ul li {
    float: left;
    list-style: none;
    text-align: center;
    margin: 0 10px;
}

.more-group{
    visibility: hidden;
}

.more {
    display: block;
    position: absolute;
    right: 10px;
    height: 22px;
    width: 22px;
    padding: 9px;
    border: 1px solid lightgray;
    border-radius: 7px;
    cursor: pointer;

    top: 50%;
    transform: translateY(-50%);
}

input#more_check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input#more_check:checked~.more-menu {
    visibility: inherit;
}
input#more_check:checked~.more {
    background: #333;

    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.more img{
    height: 100%;
}

.more-menu{
    position: absolute;
    visibility: hidden;
    background: #222222;
    top: 100%;
    width: 100%;
}

.more-menu ul li {
    list-style: none;
    border-bottom: #111111 2px solid;
}

.more-menu a {
    display: block;
    line-height: normal;
    width: 100%;
    padding: 20px;
}

@media (max-width: 600px) {
    .top-menu{
        visibility: hidden;
    }

    .more-group{
        visibility: visible;
    }
}