<header>
    <div class="logo">
        <a href="{$ROOT_ADDR}/">Photo.by</a>
    </div>

    <div class="top-menu">
        <ul>
            <li><a href="{$ROOT_ADDR}/about_us.php">Об авторе</a></li>
            <li><a href="{$ROOT_ADDR}/contact.php">Контакты</a></li>
        </ul>
    </div>

    <div class="more-group">
        <div class="more">
            <img src="{$IMAGES_ADDR}/more.svg">
        </div>
        <div class="more-menu">
            <ul>
                <li><a href="{$ROOT_ADDR}/about_us.php">Об авторе</a></li>
                <li><a href="{$ROOT_ADDR}/contact.php">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>