<form action="{$action}" method="post" class="photo-creator"
      enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$id}"/>
    <label>
        <p>Название</p>
        <input type="text" name="name" value="{$name}" class="text"/>
    </label><br><br>
    <label>
        <p>Фото</p>
        <input class="input_img_file" type="file"
               accept="image/*" name="image"/><br>
        <img class="input_img" src="{$file}"/>
    </label><br>
    <label>
        <p>Дата</p>
        <input type="date" name="date" value="{$date}" class="text"/>
    </label><br><br>
    <input type="submit" value="{$button_text}" class="button"/>
</form>
<script type="text/javascript" src="{$SCRIPTS_ADDR}/photo_creator/photo_creator.js"></script>