<h2><b><br></b></h2>
<h3><b>Друзья, приветствую Вас на своем личном сайте! &nbsp;</b></h3>
<p>Я профессиональный свадебный, семейный и портретный фотограф.</p>
<p>Помимо фотографии, моими хобби в жизни являются путешествия, яхтинг, велосипедные прогулки, а также горный
    туризм.&nbsp;</p>
<p>Я фотограф в третьем поколении: дед у меня увлекался документальной фотографией,
    а отец у меня художник-оформитель, графический дизайнер с 15 летним стажем,
    а ныне рекламный фотограф. &nbsp;</p>
<p>Фотографией я начал заниматься более 10 лет назад.&nbsp;Покупка первого зеркального фотоаппарата в далеком 2005
    году перевернула в моем&nbsp;сознании&nbsp;картину мира и представления о нем. Оказывается с помощью&nbsp;
    фотоаппарата&nbsp;можно не только делать документальные снимки, но и вкладывать смысл, идею, создавать атмосферную
    историю, управлять восприятием зрителя,влиять на настроение с помощью цвета и световых решений, менять ощущение
    пространства и объема, создавая новую реальность, которую и называют Художественной Фотографией с большой буквы.</p>
<p>Свой путь в профессиональный фотографии я начал с работы фотографом-журналистом в журнале Мобильная Связь,
    проработав в нем 2 года, я написал более 15 статей обзоров, посвященные новинкам фототехники, а также
    особенностям съемки в разных условиях.</p>
<p>Позже переломным моментом для меня стало начало работы на западные
    сайты рекламной стоковой фотографии (ShutterStock, Istock и Fotolia).</p>
<p>Индустрия рекламы для меня была хорошей школой.
    Обработка одного кадра для журнала может занимать по 5-7 часов времени на компьютере, а это серьезный труд и
    подход к данной работе должен быть ответственным. Это очень дисциплинирует, ведь твои работы потом проверяют
    досконально и если какая-то мелочь или недоработка присутствует&nbsp;—&nbsp;то ее попросту не примут.&nbsp;Поэтому в
    настоящее время в своей работе, будь то портретная или свадебная&nbsp;фотография, я все делаю на совесть и использую
    только самую лучшую технику.</p>
<p>Прежде, чем прийти в свадебную и портретную фотосъемку, для меня самым важным
    было подготовиться как технически и творчески, так как я считаю, раз уж что-то делать – то делать
    надо это хорошо.&nbsp;</p>
<p>Первым этапом было самообучение, чтение книг по искусству и фотографии. Позже я получил <b>
    профессиональное образование при Союзе Дизайнеров по специальности "Фотохудожник"</b>, и прошел курс
    обучения "Психологический портрет" в Минске.&nbsp;Потом как и у всех начинающих в этой области фотографов
    были любительские съемки, съемка семьи и родственников, первые свадьбы друзей.</p>
<p>В фотографии нет предела совершенству: мир не стоит на месте&nbsp;—&nbsp;меняется мода, стиль и подход к съемкам,
    поэтому я&nbsp;ежегодно уделяю своему обучению особую роль - регулярно посещаю мастер-классы известных фотографов,
    езжу обучаться в Россию, Украину и за границу.&nbsp;</p>
<p>На данный я момент посетил курсы и мастер-классы таких известных фотографов как Александр Медведев, Yervant,
    Jerry Ghionis, Ласло Габани, Дана Хечо, Алексея Никишина, Алины Лебедевой, Петра Ловыгина, Эдуарда Крафта, Павла
    Киселева, Ивана Трояновского, Игоря Булгака, Ольги Дроновой, Юлии Франтовой и Игоря Сахарова.</p>
<p>Свое вдохновение я черпаю из классической и фолк-музыки, балета, кинематографа, мультипликации и живописи.&nbsp;<br></p>
<p>В фотографии я люблю «воздух»&nbsp;—&nbsp;открытые пространства, многоплановость, развитие истории за рамками кадра,
    эмоции, нежность, утонченность и лаконичность. &nbsp;Красной нитью в моем творчестве проходят&nbsp;
    яркие оранжевые осенние истории, а также невероятные закаты</a>&nbsp;:)</p>
<p><b>Коллеги-фотографы даже предложили сделать фирменный слоган: "Это я тот фотограф, который снимает самую
    вкусную осень и огненные закаты":))))</b></p>
<p>Большую роль в моей жизни для меня всегда играла семья. Я всегда считал, что семья это самая большая ценность в
    жизни любого человека. Только с семьей мы испытываем и доверяем свои самые искренние чувства и эмоции.&nbsp;Фотография
    же позволяет запечатлеть эти светлые и яркие моменты нашей жизни, сделать подарок себе будущему, ведь только этих остановленных
    мгновениях жизни остаются наши воспоминания.</p>
<p>Я провел уже более 200 фотосессий, но каждый раз отправляясь на съемку я всегда волнуюсь. Мне же доверяют
    свои Эмоции и Чувства! Перед фотографом всегда лежит большая ответственность, ведь день свадьбы, это не день
    рождения и не новый год, которые бывают в каждом году и это не то событие, которое можно переснять, поэтому очень
    важна подготовка и профессионализм фотографа, который несмотря на все обстоятельства должен сделать первоклассные фотографии.</p>
<p>Обладая огромным опытом, я всегда рад помочь в организации свадебного дня и&nbsp;подсказать с точки зрения
    фотографа как, где и что сделать, какие моменты стоит учесть и на что обратить внимание. Также я всегда с
    радостью даю консультации по созданию интересных идей для будущих фотосессий, по подбору вещей и мест для съемки.</p>
<p>Хорошая фотография в моем понимании похожа на кино: самые важные элементы в которой это&nbsp;—&nbsp;уникальное
    место,&nbsp;игра света, детали, костюмы и антуражные вещи&nbsp;—&nbsp;все то, что и делает фотографию уникальной
    и образ человека в&nbsp;ней&nbsp;—&nbsp;настоящим, живым, а не искусственным и надуманным. Подготовка к некоторым
    кадрам может занимать&nbsp;несколько недель, но результат того стоит и превосходит все ожидания пар.</p>
<p>Я уделяю много времени общению и знакомству с людьми, фактически к концу съемки становясь друзьями, с которыми
    потом не хочется расставаться.&nbsp;Естественно, если я вижу, что люди стараются делать что-то новое, необычное,
    интересное, то я всегда с радостью поддерживаю их в творческих начинаниях.<br></p>
<p><b>Я люблю свою работу и отношусь к ней очень ответственно. Специализируюсь на семейной съемке, лавстори и свадеб.&nbsp;</b><br></p>
<p>Люблю жизнерадостных, открытых и позитивных людей, ведущих активный образ жизни.&nbsp;</p>
<p>Создаю душевные, живые, солнечные и жизнерадостные фотографии.&nbsp;Дарю Волшебство и Позитив людям :)<br></p>
<p>Очень люблю снимать красивые предсвадебные фотосессии - лавстори. Они позволяют воплотить в жизнь романтическую историю
    любви, а слайд-шоу созданное из таких фотографий, при показе на большом экране на самой свадьбе, станет замечательным
    подарком-сюрпризом для близких родственников и друзей!</p>
<p>Также я делаю следующие варианты оформления фотографий:
    печать на холсте и фотокниги премиум-класса.&nbsp;</p>
<p><b>Заказывая&nbsp;фото сессию&nbsp;у меня, Вы можете быть уверены, что я проведу ее от идеи и до
    реализации качественно и стильно!&nbsp;</b>&nbsp;<br></p>
<p>Свадебный и семейный фотограф в Минске<br>Выезд по всей Беларуси&nbsp;&nbsp;</p>
<h2><b><br></b></h2>